.heading-center {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-right: 33px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0.8, 0.5, 0.9, 0.3);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.175) translateY(-5px);
  border-color: green;
  border-width: 5px;
}

.image {
  height: 400px;
  width: 100%;
}

.rating {
  margin: 10px 0;
  font-weight: bold;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
  color: gray;
}

.category {
  font-style: italic;
  color: #888;
  font-weight: bold;
}

.price {
  font-weight: bold;
  color: #007bff;
}
